li {
	margin-bottom: 1em;
}

textarea.update {
	height: auto;
}
#button {
	background-image:url(/round-btn.gif);
	border:0 none;
	color:#666666;
	font-size:14px;
	height:32px;
	margin-left:3px;
	width:110px;
	
}
.title {
	margin-top: 0.4em;
	font-size: 6.5em;
	font-family: 'Comic Sans MS', Textile, cursive;
	margin-bottom: 0;
	padding-bottom: 0;
}
.banner {
	font-size: 2.8em;
	font-family: 'Comic Sans MS', Textile, cursive;
}
.rpx_popup_table {
    width: auto;
}

.comic {
	font-family: 'Comic Sans MS', Textile, cursive;
}

.top-padding {
	padding-top: 150px;
}

.smallpic {
	padding: 2px;
}

.note {
	display: none;
	background: url(/images/spacer.gif); 
	border: 2px solid rgb(255, 255, 255); 
	overflow: hidden; 
	position: absolute; 
	z-index: 0;
	cursor: text;
}

.notep {
	display: none; 
	background: #eee; 
	font-size: 8pt; 
	margin-top: 0px; 
	padding: 2px;
	position: absolute;
	width: 175px;
	cursor: text;
} 

#annotation_form {
	display: none;
	position: absolute;
	width: 200px;
}

#annotation_form textarea{
	height: auto;
	width: 250px;
}

#annotation_add_form fieldset {
	margin: 0;
	padding: 2px;
	border: 0;
}

h3 {color: #FF0084;}
h2 {color: #1057AE;}