.span-2
  %a{:href => '/'} 
    %img{:src => '/images/logo.gif'}
- if @user
  .span-8.prepend-14.last
    %a{:href => '/'} [ home ] 
    %a{:href => "/albums"} [ albums ] 
    %a{:href => '/upload'} [ upload ]
    %a{:href => '/follows'} [ people ]  
    %a{:href => '/profile'} [ profile ] 
    %a{:href => '/logout'} [ logout ]
- else
  .span-2.prepend-21.last  
    %a.rpxnow{:onclick => "return false;", :href => "https://photoclone.rpxnow.com/openid/v2/signin?token_url=#{@token}" } sign in