.span-2
  %a{:href => '/'} 
    %img{:src => '/images/logo.gif'}
.span-8.prepend-14.last
  %a{:href => '/'} [ home ] 
  %a{:href => "/albums"} [ albums ] 
  %a{:href => '/upload'} [ upload ]
  %a{:href => '/follows'} [ people ]  
  %a{:href => '/profile'} [ profile ] 
  %a{:href => '/logout'} [ logout ]